%div.row
  %div.well1
    %h1 My Lists
    %a.btn.btn-primary{"data-toggle" => "modal", :href => "#myModal", :role => "button"} New List
%div.span6
  - @user.lists.each do |list|  
    %div.well1{"data-content" => "#{list.description}", "data-original-title" => "#{list.title}", "data-placement" => "right", :href => "#", :rel => "popover"}
      %div#lista      
        %li 
          %h5= list.title.capitalize
          .btn-toolbar
            .btn-group
              %a.btn{:href => "#"}
                %i.icon-eye-open
                - @list= list
              = link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-remove")),list, method: :delete, data: { confirm: "Are you sure you want to delete this list?"}, :class => "btn btn-default")
%script
  $(function ()  
  { $(".well1").popover({trigger: 'hover'});  
  });

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel New List
  .modal-body
    = render partial: "form", locals: {:list => List.new}