.page-header
  %h2
    List To Do  "#{@list.title}"  - 
    %a.btn.btn-link{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Edit List
    %a.btn.btn-link{"data-toggle" => "modal", :href => "#myModal2", :role => "button"} Create Reminder
    %blockquote
      %h5
        = @list.description
.row
  .span6
    %fieldset
      %legend Things to do
      - if @list.tasks.incompleted.count == 0
        You Have no pending tasks
      - @list.tasks.incompleted.each do |task|
        %p
          %div.well1{:style => "height: 35px;"}
            %div{:style => "float: left; width: auto;"}
              = button_to "✔", complete_task_path(@list.id,task), :class => "btn btn-success"
            %div{:style => "float: left; width: auto;"}
              %a.example.btn.btn-link{"data-content" => "#{button_to "Delete", list_task_path(@list.id,task), method: :delete}", "data-original-title" => "Options", :href => "#", :rel => "popover"}= task.name
            %div{:style => "float: right; width: auto;"}
              = link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")),list_task_path(@list.id,task), method: :delete, :class => "btn")
      %legend Things I've done
      - if @list.tasks.completed.count == 0
        You Have no completed tasks
      - @list.tasks.completed.each do |task|
        %p
          %div.well1{:style => "height: 35px;"}
            %div{:style => "float: left; width: auto;"}
              = button_to "x", complete_task_path(@list.id,task), :class => "btn btn-danger"
            %div{:style => "float: left; width: auto;"}
              %a.example.btn.btn-link{"data-content" => "#{button_to "Delete", list_task_path(@list.id,task), method: :delete}", "data-original-title" => "Options", :href => "#", :rel => "popover"}= task.name
            %div{:style => "float: right; width: auto;"}
              = link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")),list_task_path(@list.id,task), method: :delete, :class => "btn")
  .span6
    .tasks
      %fieldset
        %legend Create Task
        = simple_form_for([@list,@list.tasks.build]) do |f|
          = f.input :name
          = f.submit class: "btn btn-primary"

%script
  $(function ()  
  { $(".example").popover({
  placement: 'right',
  html: true,
  trigger: 'click'
  });  
  });

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Edit List
  .modal-body
    = render partial: "form", locals: {:list => @list}
#myModal2.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Edit List
  .modal-body
    = render partial: "reminders/reminder", locals: {:reminder => Reminder.new}