%h2= @list.title
= simple_form_for([@list,@list.tasks.build]) do |f|
  = f.input :name
  = f.submit
%h2 Things to do
- if @list.tasks.incompleted.count == 0
  Nothing to do! = Chillin' !!
- @list.tasks.incompleted.each do |task|
  %p
    = task.name
    = link_to "Completed", complete_task_path(@list.id,task)
%h2 Things I've done
- @list.tasks.completed.each do |task|
  %p
    = task.name
    = link_to "Not Completed", complete_task_path(@list.id,task)