- @task=Task.first
= simple_form_for([@task, @task.reminders.build]) do |f|
  - if reminder.errors.any?
    #error_explanation
      %h2
        = pluralize(reminder.errors.count, "error")
        prohibited this reminder from being saved:
      %ul
        - reminder.errors.full_messages.each do |msg|
          %li= msg
  = f.input :date, :input_html => { :size => 20, :id => "datepicker" }
  - current_time = Time.now  
  - select_datetime(current_time)
  = f.hidden_field :time, :value => select_datetime(current_time)

  .form-actions
    = f.button :submit, class: "btn btn-primary"